@import "https://use.typekit.net/gbc4ufr.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-50
	}
}

#__next {
	
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
}